/*applies font to whole page*/
*{font-family: Arial, Helvetica, sans-serif}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1{
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 200px;
}

h2{
    color: white;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 1650px;
}

.social-media{
    text-align: left;
}

img .sm-img {
    height: auto;
    width: 400px;
}